<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for subscribing us, <%= @user.name %></h1>
    <p>From now you will get news and updates on Ruby On Rails! </p>

    <h2>News letter</h2>
    <table style="width:50%">
      <tr>
       <th>Title</th>
       <th>Link</th>
      </tr>
      <tr>
       <td>Ruby</td>
       <td>https://news.ycombinator.com/</td>
      </tr>
      <tr>
       <td>Ruby On Rails</td>
       <td>http://reddit.com/</td>
      </tr>
      </table>
  </body>
</html>
